/* Body */
body{
  background-color: #f7f1cb; 

}
/* Navbar */
.navbar{
  max-height: 57px; 
}
.navigation .navbar-brand{
  color: rgb(5, 5, 5); 
  margin-left: 30px; 
  padding: inherit; 
  font-weight: bold; 
  background-color: #bef0ed;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* .navbar{
  background-color: white;
  font-size: 15px; 
} */
.active, .dropdown-menu .dropdown-item:active a:hover{
  background-color:#E7E7E7!important; 
}
.dropdown-item{
  color: #6D8092 !important; 
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
  background-color:#E7E7E7 !important; 
}
a{
  color: #40464d;
  font-size: 15px; 
}
.nav-link:hover{
  background-color:#E7E7E7 !important;
 }

.navbar-brand:hover{
color: rgb(175, 175, 175) !important;
}
/* Images */
img{
  width:100% !important;
  height:100% !important;
}
.active, .panel:hover{
  border-color:#fdee13;
  border-style: solid; 
  
}
.vizualization{
  width:50% !important;
  height:50% !important;
}

/* Title Class  */
.title{
  color: #0ba7ad;  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder; 
  padding-top: 25px; 
}
/* Paragraph Element */
p{
color: #6D8092;
font-family: Arial, Helvetica, sans-serif;
font-size: 17px; 
}
/* Box Class */
.box {
  margin-top: 60px; 
  margin-bottom: 62px; 
  padding: 10px 20px 15px; 
  color:black;
  background-color: white; 

}
/* Table */
.table{
  font-size: 15px; 
  border-top-color: white !important; 
}
/* Footer */
footer{
background-color: #666666; 
border-top-style: solid; 
border-top-width: 5px; 
border-top-color: #5f8cee;
color: white; 
min-height: 55px; 
font-family: Arial, Helvetica, sans-serif;
font-size: 15px; 
text-align: center; 
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px; 
}
/* Media Queries */
@media(max-width: 992px){
  .navbar-expand-lg{
  background-color: #0b36ad !important;
  }
  .navbar{
    max-height: none; 
    padding: inherit;
  }
  .navbar div{
    margin: inherit; 
    background-color: white;  
  }
  .navbar-brand{
    padding: 10px !important; 
  }

  button{
    margin-right: 30px; 
  }
  button:focus {

    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;
    
  }
}

body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
  background-color: #ffffff; 
  /* background-color: #f7f1cb; */
}

.map-row {
  height: 50vw;
  width: 80vw
}

.scat-plot {
  color: black
}

.plot-text {
  color: black
}

/* Body */
/* body{
  background-color: #f7f1cb; 

}
/* Navbar */
/* .navbar{
  max-height: 57px; 
}
.navigation .navbar-brand{
  color: rgb(5, 5, 5); 
  margin-left: 30px; 
  padding: inherit; 
  font-weight: bold; 
  background-color: #BEF0ED;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
  background-color: white; 
  font-size: 15px; 
}
.active, .dropdown-menu .dropdown-item:active a:hover{
  background-color:#E7E7E7!important; 
}
.dropdown-item{
  color: #6D8092 !important; 
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
  background-color:#E7E7E7 !important; 
}
a{
  color: #40464D; 
  font-size: 15px; 
}
.nav-link:hover{
  background-color:#E7E7E7 !important;
 }

.navbar-brand:hover{
color: rgb(175, 175, 175) !important;
}
/* Images */
/* img{
  width:100% !important;
  height:100% !important;
}
.active, .panel:hover{
  border-color:#fdee13;
  border-style: solid; 
  
}
.vizualization{
  width:50% !important;
  height:50% !important;
}

/* Title Class  */
/* .title{
  color: #0ba7ad;  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder; 
  padding-top: 25px; 
} */
/* Paragraph Element */
/* p{
color: #6D8092;
font-family: Arial, Helvetica, sans-serif;
font-size: 17px; 
} */
/* Box Class */
/* .box {
  margin-top: 60px; 
  margin-bottom: 62px; 
  padding: 10px 20px 15px; 
  color:black;
  background-color: white; 

} */
/* Table */
/* .table{
  font-size: 15px; 
  border-top-color: white !important; 
} */
/* Footer */
/* footer{
background-color: #666666; 
border-top-style: solid; 
border-top-width: 5px; 
border-top-color: #5f8cee;
color: white; 
min-height: 55px; 
font-family: Arial, Helvetica, sans-serif;
font-size: 15px; 
text-align: center; 
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px; 
} */
/* Media Queries */
/* @media(max-width: 992px){
.navbar-expand-lg{
background-color: #0b36ad !important;
}
.navbar{
  max-height: none; 
  padding: inherit;
}
.navbar div{
  margin: inherit; 
  background-color: white;  
}
.navbar-brand{
  padding: 10px !important; 
}

button{
  margin-right: 30px; 
}
button:focus {

  outline: 1px dotted;
  outline: 5px auto -webkit-focusring-color;
  
  }
}

body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.map-row {
  height: 40vw;
  width: 80vw
} */ 



/* media for x-small */
/* @media (max-width: 576px){
  .map-row {

  }
}
/* media for x-small */
/* @media (max-width: 576px) */
/* media for x-small */
/* @media (max-width: 576px) */
/* media for x-small */
/* @media (max-width: 576px) */
/* media for x-small */
/* @media (max-width: 576px) */
/* media for x-small */
/* @media (max-width: 576px) * */
/* .container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 45%
  /* 56.25%; 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
/* } */

/* Then style the iframe to fit in the container div with full height and width */
/* .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
} */